*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#first{
    background-color: rgb(255,254,254);
}
#name{
    margin: auto;
    height: 50px;
    margin-left:470px;
    margin-top: 50px;
    width: 600px;
    text-align: justify;
    border: 0px;
    border-bottom: 1px solid;
    /* color: gray; */
    font-size: 30px;
}

#name::placeholder{
    font-size: 30px;
    color: gray;
}
#first{
    /* border: 1px solid red; */
     height: 400px;
     margin-top: 10px;
}
select{
    border: 0px;
    font-weight: 500;
    color: gray;
    font-size: 16px;
}
select:hover{
    border: 0px;
    color: rgb(3,177,162) ;
}

option{
    /* border: 1px solid red; */
    padding: 5px 5px;
}
#check{
    margin: auto;
    /* border: 1px solid red; */
    height: 100px;
    width: 800px;
    margin-top: 10px;
    margin-left: 480px;
    
}
#check>input{
 border-radius: 50%;
 margin-top: 20px;
 /* margin-left: 20px; */

}
label{
    margin-top: 40px;
    font-weight: bold;
}
#check>input{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    /* vertical-align: middle; */
    border: 1px solid ;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    /* margin-top: 20px; */
}

#check>input:checked {
    background-color: rgb(3,177,162);
}


#sel2{
     margin: auto;
    margin-left: 80px;
    /* border: 1px solid; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5px 15px;
    font-weight: 500;
    margin-top: -60px;
    margin-left: 330px;
   
}
#second{
    height: 360px;
    /* border: 1px solid red; */
    margin-top: 20px;
    background-color: rgb(251,250,253);
}
#second>#para{
margin: auto;
width: 40%;
height: 30px;
/* border: 1px solid red; */
display: flex;
justify-content: space-between;
align-items: center;
font-size: 14px;
font-weight: 500;
color: rgb(3,177,162) ;
}
#plus{
    background-color: rgb(241,249,251);
    height: 120px;
    width: 780px;
    margin: auto;
    border: 1px solid rgb(3,177,162);
    margin-left: 450px;
    margin-top: 10px;
}
#plus1{
    width: 140px; 
    /* border: 1px solid red; */
    height: 80%;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    /* font-weight: 200; */
    color: rgb(3,177,162);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    background-color: white;
}
#plus1+p{
    margin-left: 190px;
    margin-top: -80px;
    font-weight: 300;
}
#plus1+p+p{
    margin-left: 190px;
    margin-top: 10px;
    font-weight: 300;
}
#second+button{
    display: block;
    margin-left: 950px;
    margin-top: 20px;
    padding: 10px 25px;
    font-weight: bolder;
    /* border-color: white; */
    border-radius: 5px;
    border: 1px solid gray;
    /* color: white; */
    font-size: 15px;
}
#second+button:hover{
    background-color: rgb(3,177,162) ;
    color: white;
}
#second+button+button{
    display: block;
    margin-left: 1080px;
    margin-top: -40px;
    padding: 10px 25px;
    font-weight: bolder;
    background-color: rgb(3,177,162) ;
    border: 0px;
    color:  white;
    border-radius: 5px;
    font-size: 15px;
}
#second+button+button:hover{
    border: 1px solid  rgb(3,177,162) ;
    color:  rgb(3,177,162) ;
    background-color: white;
}
#flo{
    display: block;
    height: 140px;
    width: 110px;
    margin-top: -150px;
    margin-left: 1250px;
}
#paper{
  
    display: block;
    height: 100px;
    width: 100px;
    margin-top: -450px;
    color: transparent;
    margin-left: 200px;
    /* -webkit-filter: grayscale(100%); */
    /* filter: grayscale(10%) */
    opacity: .5
}
#nav{
    /* border: 1px solid red; */
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
#nav>p{
color: aliceblue;
padding-left: 10px;
font-size: 16px;
font-weight: bold;
}
#nav>input{
    width: 50%;
    height: 70%;
    background-color: rgb(54,61,90);
    border-radius: 5px;
    border: 0px;
}
#nav>input::placeholder{
    color:rgb(69, 91, 112);
    font-weight: bold;
    text-align: center;
}
#nav>button{
    padding: 5px 20px;
    background-color: rgb(1,183,166);
    /* color: rgb(1,183,166); */
    font-weight: bold;
    color: white;
    border-radius: 5px;
}
#nav>div{
    width: 160px;
    /* margin: auto; */
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(54,61,90);
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}