
@media screen and (min-width:1000px) {
    #footer {
        grid-template-areas: 'f1 f2 f3 f4 f5 f6';
    }
} 

#footer {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    gap: 70px;
    font-family: Inter, sans-serif;
    line-height: 1;
    color: #020202;
}
h5{
    font-size: 18px;
    margin-bottom: 15px;
    color: #11c2b3;
    font-family: Inter, sans-serif;
}

#footer>div>p>a:hover {
    color: #02bdad;
}
/* #f-nav{
    /* margin-left: 50px; 
    display: flex;
    gap: 70px;
    font-family: Inter, sans-serif;
    line-height: 1;
    color: #020202;
} 
 #nav-right{
    display: flex;
    text-align: center;
    
} */
#footer1>p:nth-child(1),
#footer2>p:nth-child(1),
#footer3>p:nth-child(1),
#footer5>p:nth-child(1),
#footer4>p:nth-child(1),
#footer6>p:nth-child(1) {
    color:  #02bdad;
    font-weight: 900;
    font-size: 13px;
    margin-bottom: 50px;
}

#footer1 > p, #footer2>p, #footer3>p, #footer4>p, #footer5>p, #footer6>p{
    margin-bottom: 20px;
    color: #020202;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
} 