*{
    margin-top: 0;
    font-family: Inter,sans-serif;
  }
  #nav{
    width: 98%;
   margin-bottom: 60px;
   position:fixed ;
   background-color: #f5f2f2;
   border-radius: 10px;
  }
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  }
  ul>li{
  padding: 5px;
  font-size: 20px;
  }
  #nav{
  display: flex;
  flex-direction: row;
  }
  #nav-left{
  flex-grow: 1;
  }
  #nav>ul{
  display: flex;
  font-size: 12px;
  }
  ul>li:nth-child(1)>a>img{
  width: 100px;
  
  }
  li a, .dropbtn {
  display: inline-block;
  color: #020202;
  font-weight: 100; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  li.dropdown {
    display: inline-block;
    }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #888888;
  }
  
  .dropdown-content>p>a {
  color: #020202; 
  text-decoration: none;
  line-height: 0;
  }
  .dropdown-content>p>a:hover{
    color: #00baab;
  }
  
  .dropdown-content>p{
    padding: 10px;
    margin: -10px;
    
  }
  .dropdown-content>p{
    display: grid;
    gap: 20px;
    padding: 10px;
    grid-template-areas: 'a1 a2';
  }
  #orange{
    font-size: 15px;
    text-align: center;
    color: #df9100;
    padding: 15px;
    }
  .dropdown-content>p>a:nth-child(1){
  grid-area: a1;
  text-align: left;
  }
  .dropdown-content>p>a:nth-child(2){
    grid-area: a2;
    text-align: right;
  }
  .dropdown:hover .dropdown-content {
  display: block;
  color: #00baab;
  }
  #nav-right>li>button{
  margin-top: 8px;
  height: auto;
  width: 90px;
  padding: 10px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 10px;
  background-color:#00baab;
  font-size: 15px;
  font-weight: bold;
  
  }
  #nav-right>li>button:hover,a:hover{
  color: #02bdad;
  }
  #nav-right>li>button:hover{
  border: 3px solid #02bdad;
  background-color: #ffffff;
  }
  
  @media screen and (max-width:1000px) {
    #nav{
      flex-direction: column;
      position: relative;
    }
    #nav-left{
      flex-direction: column;
    }
    #nav-right{
      flex-direction: column-reverse;
    }
  }