
*{
    font-family: Arial, Helvetica, sans-serif;
}
#up>img{
    /* border: 1px solid red; */
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 100px;
    margin-bottom: 70px;
}
#up>h1{
    /* border: 1px solid red; */
    text-align: center;

}
#up>p{
    /* border: 1px solid red; */
    text-align: center;

}

#down{
    margin: auto;
    width: 50%;
   display: flex;
   padding-top: 30px;

    /* border: 1px solid red; */

}
#down>div{
    margin: auto;
}
#down>#left{
    width: 30%;
    /* margin-top: 10px; */

}
#down>#left>img{
    margin-top: -130px;
    /* margin-left: 20px; */
    display: block;
    width: 60% ;
    /* border: 1px solid red; */
}
#down>#right{
    width: 90%;
/* border: 1px solid red; */
/* margin-left: -50px; */
}
#right>h4{
    margin-bottom: 10px;
}
#right input{
    width: 80%;
    height: 30px;
}
#right>select{
    width: 80%;
    height: 30px;
}
#next{
    border: none;
    width: 150px;
    height: 27px;
    display: block;
    margin-top: 20px;
    margin-left: 53%;
    background-color:rgb(13, 201, 201);
    color: white;


}