* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#nav {
    /* border: 1px solid red; */
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#nav>p {
    color: aliceblue;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

#nav>input {
    width: 50%;
    height: 70%;
    background-color: rgb(54, 61, 90);
    border-radius: 5px;
    border: 0px;
}

#nav>input::placeholder {
    color: rgb(69, 91, 112);
    font-weight: bold;
    text-align: center;
}

#nav>button {
    padding: 5px 20px;
    background-color: rgb(1, 183, 166);
    /* color: rgb(1,183,166); */
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

#nav>div {
    width: 160px;
    /* margin: auto; */
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(54, 61, 90);
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}

#sidebar {
    /* border: 1px solid red; */
    width: 14%;
    height: 680px;
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 38, 73);

}

#sidebar>div {
    /* border: 1px solid green; */
    height: 30px;
    display: flex;
    /* margin-top: 10px; */
    cursor: pointer;
}

#sidebar>div:nth-child(1) {
    margin-top: 15px;
}

#sidebar>div>img {
    display: block;
    height: 15px;
    width: 15px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(112, 119, 148);
    opacity: 19;

}

#sidebar>div>img+p {
    font-weight: bold;
    color: rgb(112, 119, 148);
    font-size: 14px;
}

#sidebar>div:nth-child(8) {
    /* border: 1px solid red; */
    margin-top: 40px;
}

#sidebar>div:nth-child(9) {
    /* border: 1px solid red; */
    margin-top: 40px;
}

#start {
    /* border: 1px solid green; */
    color: white;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 54, 92);
    width: 90%;
    margin: auto;
    border-radius: 5px;

}

#start>p {
    text-align: center;
}

#show {
    border: 1px solid green;
    height: 400px;
    width: 70%;
    margin-left: 300px;
    margin-top: -600px;
}