    /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap'); */

    .container {
      width: 90%;
      margin: auto;
    }


    #cont {
      border: 1px solid #cacfd3;
      display: flex;
      width: 935px;
      margin: auto;
      margin-top: 40px;
      background: none;
    }

    body {
      height: 550px;
      background-image: url("/images/bg_img.png");
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      color: #2f2f2f;
      font-size: 15px;

    }

    #top-dash {
      display: flex;

    }

    #top-dash>#button {
      height: 16px;
      padding: 0.6%;
      font-size: 0.8em;
      color: white;
      background: linear-gradient(to right, #f98c41 30%, #faa75d 30%, #f98c41 40%);
      border-radius: 15px;
      margin-right: 5px;
      margin-top: 25px;

    }

    #dashb>div>img {
      width: 99%;

    }

    #password_lable {
      gap: 145px;
      display: flex;
      margin: none;
      margin-bottom: -2%;

    }



    #dashb {

      padding: 40px;
      border-right: 1px solid #cacfd3;
      width: 45%;
      background-color: #fcf9f7;
      font-family: SFProDisplayCustom, SF Pro Text, Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    #login {
      padding: 40px 40px 5px 40px;
      width: 41%;

      background-image: none;
      background-color: white;
      font-family: SFProTextCustom, Helvetica Neue, Helvetica, Arial, sans-serif;

    }

    label,
    input,
    ::placeholder {
      display: block;
      color: #989cbf
    }

    #login>h2,
    #login input,
    #sign-in-up>* {
      margin-bottom: 20px;
    }

    #login input {
      width: 83%;
      padding: 10px;


    }

    input:focus {
      border-color: rgb(7, 205, 185);
    }

    #bt-login {
      width: 90%;
      height: 40px;
      color: white;
      background-color: rgb(76, 235, 219, 0.6);
      margin-bottom: 20px;
      border: none;
      font-size: 1.05em;
    }

    #sign-in-up,
    a {
      text-align: center;
      text-decoration: none;

    }

    #googl>img {
      width: 7%;
      margin-right: 5px;

    }

    #googl {
      display: flex;
      justify-content: center;
    }

    #googl:hover,
    #sign-in-up>div:nth-child(2):hover {
      text-decoration: underline;
    }

    #googl,
    #sign-up a {
      color: rgb(237, 163, 98);
    }

    #sign-up {

      align-items: center;
      align-self: center;
      -webkit-appearance: none;
      appearance: none;
      background-color: transparent;
      border-radius: 7px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      color: inherit;
      cursor: pointer;
      display: inline-flex;
      /* font-size: 14px; */
      font-style: normal;
      font-weight: 500;
      height: 40px;
      justify-content: center;
      padding: 0 32px;
      text-decoration: none;
      /* transition: .15s; */
      vertical-align: middle;

    }

    #sign-in-up>div:nth-child(2)>a {
      color: black;
    }

    #sign-up a:hover {
      color: rgb(7, 205, 185);
    }