h2 {
    line-height: 1.2;
    font-weight: 700;
    font-size: 40px;
    font-family: Inter, sans-serif;
}

img {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

#box {
    max-width: 450px;
    text-align: center;
    padding: 60px 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-size: 100% 100%;
    background-image: url(/images/bg_Img_form.png);
    width: 100%;

    border: 1px solid #ececec;
    border-radius: 6px;
    margin: auto;
}

#mail {
    padding-right: 144px;
    display: block;
    height: 52px;
    width: 70%;
    padding: 0 15px;
    border-radius: 10px;
    font-size: 17px;
    color: #6c729c;
    transition: .15s;
    border: 1px solid transparent;
    background-color: rgba(185, 198, 217, .2);
}

form>div {
    width: 100%;
    display: flex;
    background-color: rgba(185, 198, 217, .2);
    border: 1px solid transparent;
}

#Get_btn {
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: rgba(185, 198, 217, .2);
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: none;
    margin: auto;
    height: 35px;
    width: 32%;
    background-color: #00baab;
}

#main_banner {
    background: hsla(0, 0%, 96.1%, .5);
}